<app-header4></app-header4>
<pre></pre>
<pre></pre>
<div
  class="two-column-layout"
  style="font-family: Arial, Helvetica, sans-serif"
>
  <div class="column column-1">
    <div class="a">
      <h2 style="font-size: 32px">One step closer!</h2>

      <p style="font-weight: bold; font-size: 16px">
        we would like to get some information from you
      </p>

      <div class="b">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
        sollicitudin libero a elit pulvinar, vitae tristique enim pharetra.
        Nullam fringilla, nunc vel pellentesque fermentum, ipsum neque finibus
        quam, nec tristique eros turpis nec metus.
      </div>
    </div>

    <pre></pre>
    <!-- (ngSubmit)="AddProduct(AddProductForm)" -->
    <form [formGroup]="AddForm">
      <div class="form-field">
        <div class="c">Personal Details</div>

        <pre></pre>

        <mat-form-field appearance="outline" class="fieldwidth">
          <mat-label>First Name</mat-label>

          <input
            matInput
            type="text"
            formControlName="fstName"
            placeholder="First Name"
          />
          <mat-error
            *ngIf="
              AddForm?.get('fstName')?.touched || AddForm?.get('fstName')?.dirty
            "
          >
            Please Enter a value.
          </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="field2"
          style="width: 260px"
        >
          <mat-label>Last Name</mat-label>

          <input
            matInput
            type="text"
            formControlName="lstName"
            placeholder="Last Name"
            required
          />

          <mat-error
            *ngIf="
              AddForm?.get('lstName')?.touched || AddForm?.get('lstName')?.dirty
            "
          >
            Please Enter a value.
          </mat-error>
        </mat-form-field>
      </div>

      <br />

      <div class="form-field">
        <div class="c">Contact Information</div>

        <pre></pre>

        <div class="d">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          sollicitudin libero a elit pulvinar.
        </div>

        <pre></pre>

        <mat-form-field appearance="outline" class="fieldwidth">
          <mat-label>Email Id</mat-label>

          <input
            matInput
            placeholder="abc@gmail.com"
            formControlName="emailId"
            required
          />
          <mat-error *ngIf="AddForm.get('emailId')?.hasError('required')"
            >Please enter an email address</mat-error
          >
          <mat-error *ngIf="AddForm.get('emailId')?.hasError('email')"
            >Not a valid email</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="field2">
          <mat-label>Phone</mat-label>

          <input
            matInput
            placeholder="XX-XXX-XXX-XX"
            formControlName="phone"
            required
            maxlength="10"
          />

          <mat-error
            *ngIf="
              AddForm?.get('phone')?.hasError('required') &&
              (AddForm?.get('phone')?.touched || AddForm?.get('phone')?.dirty)
            "
          >
            Please Enter a value.
          </mat-error>

          <mat-error *ngIf="AddForm?.get('phone')?.hasError('pattern')"
            >Please enter a valid 10-digit phone number.</mat-error
          >
        </mat-form-field>

        <div class="c">Family Details</div>

        <pre></pre>

        <div class="d">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          sollicitudin libero a elit pulvinar.
        </div>

        <pre></pre>

        <div class="c">How Many people are going to live in the house</div>

        <pre></pre>

        <mat-form-field appearance="outline" class="fieldwidth">
          <input
            matInput
            type="number"
            formControlName="famMembers"
            placeholder="+2"
            required
          />
          <mat-error *ngIf="AddForm.get('famMembers')?.hasError('required')"
            >Please enter a value</mat-error
          >
        </mat-form-field>

        <div class="c">Do you have children</div>

        <pre></pre>

        <mat-radio-group
          aria-label="Select an option"
          formControlName="children"
        >
          <mat-radio-button value="1">Yes</mat-radio-button>

          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>

        <pre></pre>

        <div class="c">Are you looking for luxury apartment</div>

        <pre></pre>

        <mat-radio-group aria-label="Select an option" formControlName="luxury">
          <mat-radio-button value="Yes">Yes</mat-radio-button>

          <mat-radio-button value="No">No</mat-radio-button>
        </mat-radio-group>

        <pre></pre>

        <div class="c">Employement Details</div>

        <pre></pre>

        <div class="d">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          sollicitudin libero a elit pulvinar.
        </div>

        <pre></pre>

        <mat-form-field appearance="outline" class="fieldwidth">
          <mat-label>Source of Income</mat-label>

          <mat-select formControlName="inSource">
            <mat-option value="Salary">Salary</mat-option>
            <mat-option value="Business">Business</mat-option>
            <mat-option value="Freelancing">Freelancing</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field2">
          <mat-label>Total Monthly Income</mat-label>

          <input
            matInput
            type="number"
            formControlName="monthlyIn"
            class="example-right-align"
            placeholder="0"
          />
          <mat-error *ngIf="AddForm.get('monthlyIn')?.hasError('required')"
            >Please enter a value</mat-error
          >
          <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>

        <br />

        <mat-form-field appearance="outline" class="fieldwidth">
          <mat-label>Total Monthly Liability</mat-label>

          <input
            matInput
            type="text"
            formControlName="monthlyLia"
            placeholder="XX-XXX-XXX-XX"
            required
          />
          <mat-error *ngIf="AddForm.get('monthlyLia')?.hasError('required')"
            >Please enter a value</mat-error
          >
        </mat-form-field>

        <div class="c">Address</div>

        <pre></pre>

        <div class="d">
          Please enter zip code of a property location you are looking for.
        </div>

        <pre></pre>

        <mat-form-field appearance="outline" class="fieldwidth">
          <input
            matInput
            type="text"
            formControlName="zipCode"
            placeholder="60613"
            required
          /> </mat-form-field
        ><br />

        <mat-checkbox
          >I agree that All the above information is correct</mat-checkbox
        >

        <pre></pre>

        <div>
          <button
            style="width: 210px; background-color: #af1f24; border-radius: 10px"
            mat-raised-button
            color="warn"
            (click)="AddMortgage()"
          >
            Submit
          </button>

          <!-- <button
            style="width: 210px; background-color: #af1f24; border-radius: 10px"
            mat-raised-button
            color="warn"
            (click)="AddMortgage(AddForm)"
          >
           
            Submit
          </button> -->
        </div>
      </div>
    </form>
  </div>

  <!--Section 2-->

  <div
    class="column column-2"
    style="font-family: Arial, Helvetica, sans-serif"
  >
    <h3 style="margin-left: 2cm">Login</h3>

    <div class="form-field">
      <div class="section2">
        <mat-form-field appearance="outline" style="width: 240px">
          <mat-label>User ID</mat-label>

          <input matInput type="text" placeholder="User Id" required />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 240px">
          <mat-label>Password</mat-label>

          <input matInput type="text" placeholder="Password" required />
        </mat-form-field>

        <div style="color: rgb(69, 70, 71); margin-left: -0.25cm">
          <mat-checkbox>Receive Updates</mat-checkbox>
        </div>

        <pre></pre>

        <div>
          <button
            type="submit"
            style="
              width: 230px;
              border: 2px solid #af1f24;
              color: #af1f24;
              border-radius: 10px;
            "
            mat-stroked-button
            color="warn"
          >
            Submit
          </button>
        </div>

        <br />
      </div>

      <img src="/assets/Images/property.png" width="270px" />

      <pre></pre>

      <div class="c">
        Proceed to Mortgage Loan
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
          class="underlined-text"
          routerLink="/mortgageloanapplication"
        >
          Apply</span
        >
      </div>

      <pre></pre>

      <div
        style="
          color: rgb(145, 146, 147);
          text-align: justify;
          font-size: 14px;
          width: 85%;
        "
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc an
        sollicitudin libero a elit pulvinar, vitae tristique enim pharetra.
        Nullam fringilla, nunc vel pellentesque fermentum, ipsum neque finibus
        quam, nec tristique eros turpis nec metus.
      </div>
    </div>
  </div>
</div>
