.logo {
    background-color: white;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  
  
  .logo img {
    width: 175px; /* Adjust the width to your desired size */
    height: 45px; /* This maintains the aspect ratio */
  }
  .red-ribbon {
    width: 100%;
    height: 60px;
    background: #AF1F24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Add padding for spacing */
  }
  
  .back-arrow {
    font-size: 20px; /* Adjust the size as needed */
    color: #FFF; /* Text color */
     /* Remove underline (default link styles) */
    margin-right: 50px; /* Add spacing between the arrow and "Back" text */
  }
.logo h1{
   text-align: center;
   margin-top: -30px;
    margin-left: 1100px;
     color: #AF1F24;;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   
    }
   
.logo h2{
    margin-left: 1300px;
    margin-top: -30px;
     text-align: right;
     color: #AF1F24;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
    }
    
.just-info h1{
   
color: #333333;
 font-size: 30px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
}

.just-info h2{
    
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 word-wrap: break-word
}

.just-info p{
    color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}

.p1 p{
    
color: black;
 font-size: 23px;
 font-family: SF Pro Display;
 font-weight: 400;
 word-wrap: break-word
}

.p1 h1{
    
color: #333333;
 font-size: 30px;
 font-family: SF Pro Display;
 font-weight: 700;
 word-wrap: break-word
}

.mg1{
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
color: #5E6368;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
}
.mg2,.mg3,.mg4{
    justify-content: center; 
    align-items: center; 
    width:13.5%;
color: #5E6368;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word;
 
}
.mg5{
  width: 10%; 
  height: 100%;
   background: #AF1F24; 
   border-radius: 10px; 
   border: 1px #AF1F24 solid;
   
color: white;
 font-size: 16px;
 font-family: SF Pro Display;
 font-weight: 700;
 word-wrap: break-word
}

#inputfield{
  width: 55%;
}

#schedule-btn{
  /* text-align: center; */
  width: 50%;
}

.main{
  display: flex;
  justify-content: space-around;
}

/* .middle-column{
  background-color: lightcoral;
}*/

/* .third-column h2{
  text-align: left;
  
}  */
.img-house{
  width: 373px;
            height: 229px;
            /* left: 60vw;
            top: 100vh;
            position: fixed; */
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 5vh;
            margin-left: 20px;
}

.img-house h5{
  
color: #333333;
 font-size: 18px;
 font-family: SF Pro Display;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
}
.img-house p{
  color: #909090;
 font-size: 14px;
 font-family: SF Pro Display;
 font-weight: 400;
 word-wrap: break-word
}
.option a{
  color: #AF1F24;
 font-size: 15px;
 font-family: SF Pro Display;
 font-weight: 500;
 text-decoration: underline;
 line-height: 24px;
 word-wrap: break-word
}
.option{
  display: flex;
  justify-content:space-between ;
}
.form-field .required{
  color: red;
  width: 50vw;
}
.example-button-row {
  width: 60vw;
}


.flexbox{
  display: flex;
  justify-content: space-between;
  width: 20vw;

}
.third-item{
  margin-right: 40px;
}
.second-item{
  margin-top: 70px;
}