<app-header2></app-header2>
<app-header3></app-header3>
<div class="banner">
  <img src="assets/Images/findHome.png" height="400px" width="100%" />
</div>
<p class="quote">We are here to help you choose your dream home!</p>
<p class="quote1">
  Begin your journey with us by following three simple steps to discover the
  perfect house that aligns with your requirements. Our mission is to offer you
  the finest selection of homes tailored to your needs.
</p>

<div class="grid-container">
  <div class="card" style="width: 300px">
    <img
      class="card-img-top"
      src="assets/Images/step1.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="heading">Step 1: Define Your Needs</p>
      <p class="card-text">
        Start by outlining your needs by various factors and specific amenities
        that are important to you. This will help us understand your
        requirements and narrow down the options to the most suitable listings.
      </p>
    </div>
  </div>

  <div class="card" style="width: 300px">
    <img
      class="card-img-top"
      src="assets/Images/step2.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="heading">Step 2: Browse Listings</p>
      <p class="card-text">
        Explore our extensive range of listings that match your criteria. Our
        curated selection of homes ensures that you have access to the best
        available options. Take your time to review the property details.
      </p>
    </div>
  </div>

  <div class="card" style="width: 300px">
    <img
      class="card-img-top"
      src="assets/Images/step3.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="heading">Step 3: Schedule a visit</p>
      <p class="card-text">
        Once you have identified the homes you'd like to see in person, our
        dedicated team will be available to assist you arrange a convenient time
        for you to visit the properties ensuring seamless experience.
      </p>
    </div>
  </div>
</div>

<button class="btn btn-danger" (click)="openProfileDialog()">
  Explore Now
</button>
<pre></pre>
<pre></pre>
<pre></pre>
 

