<app-header4></app-header4>
<div class="progress-bar">
    <div style="
        left: 87px;
        top: 190px;
        position: absolute;
        text-align: center;
        color: rgba(0, 0, 0, 0.85);
        font-size: 18px;
        font-family: SwissReSansOT;
        font-weight: 700;
        line-height: 18px;
        word-wrap: break-word;
      ">
        Personal Information
    </div>
    <div style="
        left: 449px;
        top: 190px;
        position: absolute;
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
        font-size: 18px;
        font-family: SwissReSansOT;
        font-weight: 700;
        line-height: 18px;
        word-wrap: break-word;
      ">
        Employment Details
    </div>
    <div style="
        left: 785px;
        top: 190px;
        position: absolute;
        color: rgba(0, 0, 0, 0.4);
        font-size: 18px;
        font-family: SwissReSansOT;
        font-weight: 700;
        line-height: 18px;
        word-wrap: break-word;
      ">
        Financial Assets
    </div>
    <div style="
        left: 1132px;
        top: 190px;
        position: absolute;
        color: rgba(0, 0, 0, 0.4);
        font-size: 18px;
        font-family: SwissReSansOT;
        font-weight: 700;
        line-height: 18px;
        word-wrap: break-word;
      ">
        Credit and Loan
    </div>
    <div style="
        width: 1035px;
        height: 0px;
        left: 200px;
        top: 250px;
        position: absolute;
        border: 5px #f7e9ea solid;
      "></div>
    <div style="
        width: 50px;
        height: 50px;
        left: 150px;
        top: 230px;
        position: absolute;
        background: #af1f24;
        border-radius: 9999px;
      "></div>
    <div style="
        width: 50px;
        height: 50px;
        left: 496px;
        top: 230px;
        position: absolute;
        background: #f7e9ea;
        border-radius: 9999px;
      "></div>
    <div style="
        width: 50px;
        height: 50px;
        left: 1195px;
        top: 230px;
        position: absolute;
        background: #f7e9ea;
        border-radius: 9999px;
      "></div>
    <div style="
        left: 170px;
        top: 240px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 18px;
        font-family: SwissReSansOT;
        font-weight: 700;
        word-wrap: break-word;
      ">
        1
    </div>
    <div style="
        left: 515px;
        top: 240px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 18px;
        font-family: SwissReSansOT;
        font-weight: 700;
        word-wrap: break-word;
      ">
        2
    </div>
    <div style="
        left: 1210px;
        top: 240px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 18px;
        font-family: SwissReSansOT;
        font-weight: 700;
        word-wrap: break-word;
      ">
        4
    </div>
    <div style="
        width: 50px;
        height: 50px;
        left: 826px;
        top: 230px;
        position: absolute;
        background: #f7e9ea;
        border-radius: 9999px;
      "></div>
    <div style="
        left: 845px;
        top: 240px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 18px;
        font-family: SwissReSansOT;
        font-weight: 700;
        word-wrap: break-word;
      ">
        3
    </div>
</div>

<div class="flexboxx">
    <div class="column1">
        <div class="just-info">
            <h2>Before You Proceed</h2>
            <h4>We would like to get some Information from you</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga culpa
                consectetur veritatis odit repellat ex commodi recusandae neque qui quis
                voluptatum quaerat, nobis, possimus distinctio quam officia quidem?
                Natus molestias quae fuga unde qui dicta iusto recusandae ipsum! Atque
                ad, quaerat labore impedit laborum cupiditate sequi animi nulla
                reprehenderit harum.
            </p>
        </div>
        <br /><br />
        <div class="lateral">
            <h3>Are you Cappex Customer ?</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga culpa
                consectetur veritatis odit repellat ex commodi recusandae neque qui quis
                voluptatum quaerat, nobis, possimus distinctio quam officia quidem?
                Natus molestias quae fuga unde qui dicta iusto recusandae ipsum! Atque
                ad, quaerat labore impedit laborum cupiditate sequi animi nulla
                reprehenderit harum.
            </p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                <label class="form-check-label" for="flexRadioDefault1"> YES </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                <label class="form-check-label" for="flexRadioDefault2"> NO </label>
            </div>
        </div>
        <br /><br />

        <form class="was-validated">
            <div class="flex-container">
                <h4><b>Personal Information</b></h4>
                <div class="mg-section1">
                    <div class="mg1">
                        <input type="text" class="form-control" id="fname" placeholder="firstName" name="Name"
                            required />
                        <!-- <div class="valid-feedback">Valid.</div> -->
                        <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                    </div>
                    <div class="mg2">
                        <input type="text" class="form-control" id="lname" placeholder="LastName" name="Name"
                            required />
                        <!-- <div class="valid-feedback">Valid.</div> -->
                        <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                    </div>
                </div>
                <br />
                <div class="mg-section2">
                    <div class="mg2">
                        <input type="text" class="form-control" id="Mname" placeholder="MiddleName" name="Name"
                            required />
                        <!-- <div class="valid-feedback">Valid.</div> -->
                        <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                    </div>
                    <br />
                    <div class="mg2-g1">
                        <input type="date" class="form-control" id="DOB" placeholder="DD/MM/YYYY" name="Name"
                            required />
                        <div class="valid-feedback">Valid.</div>
                        <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                    </div>
                </div>
                <br />
                <h5><b>Contact Information</b></h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    sollicitudin libero a elit pulvinar.
                </p>
                <div class="mg-section3">
                    <div class="mg3">
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email"
                            required="@" />
                        <div class="valid-feedback">Valid.</div>
                    </div>

                    <div class="mg3">
                        <input type="text" class="form-control" id="PhoneNumber" placeholder="PhoneNumber"
                            pattern="[0-9]{10}" required />
                        <div class="valid-feedback">Valid.</div>
                    </div>
                </div>


                <div class="mg3">
                    <label for="SSN-ID"><B> SSN-ID</B></label>
                    <input type="text" class="form-control" id="PhoneNumber" placeholder="XXX-XX-XXXX"
                        pattern="[0-9]{10}" required />
                    <div class="valid-feedback">Valid.</div>
                </div>
                <br />
                <h5><b>Address</b></h5>
                <div class="mg-section4">
                    <div class="mg4">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="HomeAddress"
                            required />
                        <div class="valid-feedback">Valid.</div>
                    </div>
                    <div class="mg4-a3">
                        <label for="inputState" class="form-label"></label>
                        <select id="inputState" class="form-select" required>
                            <option value="" disabled selected>Choose State</option>

                            <option>Andhra Pradesh</option>
                            <option>Arunachal Pradesh</option>
                            <option>Assam</option>
                            <option>Bihar</option>
                            <option>Chhattisgarh</option>
                            <option>Goa</option>
                            <option>Gujarat</option>
                            <option>Haryana</option>
                            <option>Himachal Pradesh</option>
                            <option>Jharkhand</option>
                            <option>Karnataka</option>
                            <option>Kerala</option>
                            <option>Madhya Pradesh</option>
                            <option>Maharashtra</option>
                            <option>Manipur</option>
                            <option>Meghalaya</option>
                            <option>Mizoram</option>
                            <option>Nagaland</option>
                            <option>Odisha</option>
                            <option>Punjab</option>
                            <option>Rajasthan</option>
                            <option>Sikkim</option>
                            <option>Tamil Nadu</option>
                            <option>Telangana</option>
                            <option>Tripura</option>
                            <option>Uttar Pradesh</option>
                            <option>Uttarakhand</option>
                            <option>West Bengal</option>
                        </select>
                    </div>
                </div>
                <div class="mg-section5">
                    <div class="mg4-a2">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City"
                            required />
                    </div>

                    <div class="mg4-a1">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="ZipCode"
                            required />
                        <div class="valid-feedback">Valid.</div>
                    </div>
                </div>
                <div class="form-check-c1">
                    <input type="checkbox" id="exampleCheck1" />
                    <label class="form-check-label" for="exampleCheck1">`I Agree That Above Information provided is
                        Correct</label>
                </div>
                <br />
                <button type="submit" class="btn-btn-primary">Next</button>
            </div>
        </form>
    </div>

    <div class="column2">
        <h1>Do You Need More Help?</h1>
        <form class="was-validated">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" id="uname" placeholder="Name" name="Name" required />
                <div class="valid-feedback">Valid.</div>
                <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
            </div>
            <br />
            <!-- <div class="form-group">
            
            <input type="text" class="form-control" id="name" placeholder="Name" required>
        </div> -->
            <div class="form-group">
                <input type="text" class="form-control" id="PhoneNumber" placeholder="PhoneNumber" pattern="[0-9]{10}"
                    required=>
                <div class="valid-feedback">Valid.</div>
                <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
            </div>
            <br />
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" required="@" />
                <div class="valid-feedback">Valid.</div>
                <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
            </div>
            <br />
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Agree to the Terms and Conditions</label>
            </div>
            <br />
            <button type="submit" class="btn-btn-primary">Connect With Agent</button>


            <div class="img-house">
                <img src="https://th.bing.com/th/id/OIP.sRUYzP1ilfCfg7fUuux8_QHaEK?pid=ImgDet&rs=1">

                <br><br />
                <div class="option">

                    <h5>Looking to buy a Home?</h5>

                    <a href="Explore Options">Explore Options</a>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc an
                    sollicitudin libero a elit pulvinar, vitae tristique enim pharetra.
                    Nullam fringilla, nunc vel pellentesque fermentum, ipsum neque finibus
                    quam, nec tristique eros turpis nec metus.</p>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>